:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgb(255, 248, 246);
  --color-red: rgb(253, 118, 98);
  --color-blue: rgb(50, 79, 117);
  --color-text: rgb(169, 169, 169);
  --background-img: rgb(239, 239, 239);
}

.titleSection{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--color-blue);
}

.descripoSection{
  width: 410px;
  font-size: 15px;
  font-weight: 400;
  color: var(--color-text);
  text-align: center;
}